@use "../../styles/abstracts/variables-colors" as colors;
@use "../../styles/utils/responsive" as responsive;

.navbar {
  background-color: colors.$primary;
  padding: 10px;
  border-bottom: 1px colors.$yellow solid;

  .container {
    @include responsive.container;

    .wrapper {
      display: flex;
      justify-content: flex-end;

      .githubBtn {
        background-color: colors.$slate-1;
        color: colors.$primary;
      }
    }
  }
}
