@use "./styles/abstracts/variables-colors" as colors;
@use "./styles/utils/responsive" as responsive;

.coverForm {
  background-color: colors.$primary;
  min-height: calc(100vh - 57px);
  padding: 50px 0;

  .container {
    @include responsive.container;

    .wrapper {
      form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .addAuthorBtn,
        .submitBtn {
          color: colors.$primary;
        }

        .addAuthorBtn {
          background-color: colors.$white;
        }

        .submitBtn {
          background-color: colors.$yellow;
          color: colors.$white;
        }
      }
    }
  }
}

.generatedCover {
  background-color: colors.$primary-variant;

  .container {
    @include responsive.container;

    .wrapper {
      .cover {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc((8.5in + var(--spine-width, 0.4in)) * 0.4);
        height: calc(11in * 0.4);
        position: relative;
        background-color: colors.$primary;
      }

      .spine {
        width: var(--spine-width);
        height: 100%;
        background-color: colors.$primary;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;

        .separator {
          border-top: 2px solid colors.$yellow;
        }

        .courseCode,
        .title,
        .surnames,
        .year {
          width: var(--spine-width);
          color: colors.$yellow;
        }

        .title,
        .surnames {
          writing-mode: vertical-rl;
          display: flex;
          align-items: center;
        }

        .title {
          height: 50%;
          line-height: 1;
        }

        .surnames {
          height: 15%;
        }
      }

      .front {
        flex-grow: 1;
        background-color: colors.$primary;
      }
    }
  }
}
